node_modules/
dist/
build/
.env
uploads/
coverage/
*.log

# Ignore local temporary uploads and media
src/public/temp/
src/public/images/
src/public/videos/
src/public/pdf/

branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
